.content {
  display: flex;
  justify-content: space-between;
}

.mainContent {
  width: calc(100% - 350px);
}

.user-info {
  padding: 10px;
  padding-bottom: 20px;
  display: flex;

  & > * {
    margin-right: 10px;
    margin-left: 10px;
  }
}

.user__name-email span {
  display: block;
}

.user__skype-location {
  text-align: right;

  span {
    display: block;
  }
}

.instruction {
  width: 350px;
  height: 100%;
  border-left: 1px solid #dcdcdc;
}

.instruction__main-title {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.instruction__title {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #dcdcdc;
}

.calendar {
  margin-top: 24px;
}
